
body {
    padding: 50px 20%;
    font-family: Roboto, Georgia, serif;

}

h1, h2, h3, h4, .bold {
    color: plum;
}

h1, h3 {
    text-align: center;
}

h2 {
    text-align: right;
    border-bottom: thin;
    border-color: lightslategray;
}

hr {
    border-bottom: dotted;
    border-color: lightslategray;
    width: 50%;
}

p {
    color: darkslategray;
    text-align: justify;
    font-style: italic;
}

h1 {
    text-transform: uppercase;
}

#number1_achievement {
    color: red;
}

#number1_achievement, p:nth-child(n+19):nth-child(-n+22) {
    font-style: italic;

}

