
body {
    padding-left: 20%;
    padding-right: 20%;
}

h1, h2, h3, strong {
    color: plum;
}

h1, h3 {
    text-align: center;
}

h2 {
    text-align: right;
    border-bottom: thin;
    border-color: lightslategray;
}

hr {
    border-bottom: dotted lightslategray thin;
    width: 50%;

}

p {
    color: darkslategray;
    font-family: Georgia, serif;
}
